@charset "utf-8"

@import normalize
@import bootstrap

@import patterns/opacity
@import patterns/photo_card

html
  height: 100%

body
  height: 100%
  background-color: white

$card-width: 360px

.card, .card-img

.card-list
  +clearfix
  > li
    float: left
    margin-right: 10px

.content
  padding-top: 50px

